# Vitual enviroments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.dist/

# Local config. / Secrets
.env
.env.local
*.env

# Logs
*.log

# VS Code
.vscode/

# PyCharm / IntelliJ
.idea/

# OS
.DS_Store
Thumbs.db

#Diagnostic tests
diagnostic_tests/
versions/